<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>Bot-Reborn</title>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="https://i2.hdslb.com/bfs/face/0897c87020b1031ec6494f77f5403f655ee380b6.jpg">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/check_queue.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
</head>
<body>
<header>
    <h1><b>Bot - Reborn</b></h1>
</header>
<div class="container">
    <form action="/bot/get_jmid" id="form_jmid" method="post">
        <div class="form-group">
            <label for="jmid">输入带jmid的字符串</label>
            <input type="text" id="jmid" name="jmid" required>
        </div>
        <div class="form-group">
            <button type="submit" id="jm_submit_button">提交</button>
            <button type="button" id="redirect_to_hitomi">直达Hitomi.la</button>
        </div>
    </form>
    <div id="jm_ajax_response"></div>

    <form action="/bot/get_pixiv_img_from_id" id="form_pid" method="post">
        <div class="form-group">
            <label for="pid">输入带pid的字符串</label>
            <input type="text" id="pid" name="pid" required>
        </div>
        <div class="form-group">
            <button type="submit" id="pixiv_submit_button">提交</button>
        </div>
    </form>
    <div id="pixiv_ajax_response"></div>

    <form id="uploadForm" method="POST" enctype="multipart/form-data">
        <label for="image">上传你想搜的图片</label>
        <input type="file" id="image" name="image" accept="image/*" required>
        <button type="submit" id="upload_submit_button">上传</button>
    </form>
    <div id="upload_msg"></div>

    <h1>随机涩图</h1>
    <img alt="Image" src="{{ random_img_url }}" style="width:400px;height:auto;">
    <br>
    <h1><a download href="{{ random_img_url }}">下载图片</a></h1>

    <form >
        <label for="auth_token">输入auth_token:</label>
        <input type="text" id="auth_token" name="token_inputter" required>
        <button type="submit" id="set_auth_button">提交</button>
    </form>
    <div id="auth_msg"></div>
</div>
<script src="{{ url_for('static', filename='js/upload.js') }}"></script>
<script src="{{ url_for('static', filename='js/set_auth.js') }}"></script>
<script src="{{ url_for('static', filename='js/redirect_to_hitomi.js') }}"></script>
</body>
</html>
